# Governança de repositório — donos técnicos por área.

/terraform/                    @pH0ffmann
/policy/                       @pH0ffmann
/.github/workflows/            @pH0ffmann
/target-app/src/auth/          @pH0ffmann

/SECURITY.md                   @pH0ffmann
/.github/CODEOWNERS            @pH0ffmann

*                               @pH0ffmann
